.alternatives {
  align-items: center;
  display: grid;
  gap: 0.9rem 0;
  grid-template-columns: 0 auto;
  list-style: none;
  padding: 1rem;
}

.buttons, .letters {
  font-family: Epilogue , sans-serif;
}

.buttons {
  background-color: white;
  border: 3px solid transparent;
  border-radius: 2rem;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7rem;
  width: 30rem;
}

.buttons:disabled {
  cursor: unset;
  filter: brightness(70%);
  transform: none;
}

.buttons:active {
  transform: scale(0.8);
  transition: transform 500ms ease-in-out;
}

.letters {
  align-items: center;
  background-color: var(--generalGray);
  border-radius: 50%;
  color: white;
  display: inline-flex;
  font-weight: 700;
  height: 2.3rem;
  justify-content: center;
  justify-self: flex-start;
  margin-left: 0.3rem;
  width: 2.3rem;
  z-index: 1;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
}

.incorrect {
  border: 3px solid red;
}
