@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Epilogue:wght@400;700&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --green: #2fc18c;

  --purple: #3c1b7a;

  --yellow: #f9ba18;

  --red: #ea5d5d;

  --borderGray: #e1e5eb;

  --_br: 5px;

  --_brLg: 10px;
}

html {
  background-attachment: fixed;
  background-color: #3c1b7a;
  background-image: url('./assests/background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
